* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: linen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(34, 34, 34);
}

.BookList {
    width: 90vw;
    max-width: 900px;
    margin: auto;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
}

.Book {
    padding: 2rem;
}

.Book h4 {
    color: rgb(73, 73, 73);
}